span{
    text-transform: uppercase
}

span.clase1{
    letter-spacing: 5px; 
    word-spacing: 10px;
}

span.clase2{
    letter-spacing: 10px; 
    word-spacing: 15px;
}

span.clase3{
    letter-spacing: 15px; 
    word-spacing: 20px;
}